main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(pasta.jpg);
    background-size: cover;
}

.mainConteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 650px;
}

.mainConteiner div {
    border: 1px solid #cccccc;
    text-align: center;
    background-color: #dde293;
    width: 48%;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 10%;
    border-color: #3e994d;
    opacity: 100%;
    transition: transform 0.3s ease;
    background-image: url();
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 30px;
}
.mainConteiner div:hover{
    transform: scale(1.1);
}
